<h3 class='om-medaltable-row'>{{ obj.country.name }}'s medals</h3>
<div class='om-recent om-country-medals'>

    Currently ranked <span class='om-position-ordinal'></span>, with {{ obj.medals.length }} medal{% if obj.medals.length !== 1 %}s{% endif %}.
    {% if obj.medals.length > 0 %}
        {% set recent = obj.medals[0] %}
        Most recently, {% if recent.entrant.competitors.length > 2 %} the {% endif %} {{ recent | countryEntrant }} won a {{ recent.entrant.medal | lower }} medal
        in {{ recent.event.event.description | eventname }} in {{ recent.event.discipline.description }}.
    {% endif %}

    <ol class='om-table om-table--favourite'>
       <!--  {% include './../../_leaderboardEntry.html' { 'entry' : entry } %} -->
    </ol>

    {% if obj.medals.length > 0 %}

        <ul class='om-recent-events'>
            {% for medal in obj.medals %}

                <li class='om-country-medal-entry om-recent-event {% if loop.index > 5 %} om-is-hidden {% endif %}'>

                    <div class='om-country-timestamp' datetime='{{ medal.event.end }}'>{{ medal.event.end }}</div>
                    <div class='om-country-medal'>
                        <span class="om-medal om-medal--{{medal.entrant.medal|lower}}"></span>
                        <span class='om-medal-type'>{{ medal.entrant.medal }}</span>
                    </div>
                    <div class='om-country-eventname'>
                        {{ medal.event.discipline.description }},
                        {{ medal.event.event.description }}
                    </div>
                    <div class='om-recent-medalist'>
                        <span class='om-medalist-name'>
                            {{ medal | countryEntrant }}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if obj.medals.length > 5 %}  

            <button class="js-country-medals-button om-expand-button">All medals</button>

        {% endif %}

    {% endif %}
</div>
