<div class="og-snap">
    <div class="og-snap__medals">
        <div class="og-snap__medals-latest">
            <div class="og-snap__title og-snap__title--medals"><span class="og-snap__title--kicker">Rio</span>Latest Medals</div>
            {% for event in latestMedals|slice(2) %}
            <div class="og-snap__medals-latest-title">{{event.discipline}}<span class="og-snap__medals-latest-title--grey">{{event.eventName}}</span></div>
            <div class="og-snap__medal-row">
                {% for medal in event.medals %}
                <div class="og-snap__medal">
                    <div class="om-medal om-medal--{{medal.type}}"></div> {{medal.entrant.country.name}}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="og-snap__medals-table">
            <table cellspacing="0" border="0">
                <tr>
                    <th></th>
                    <th>
                        <div class="om-medal om-medal--gold"></div>
                    </th>
                    <th>
                        <div class="om-medal om-medal--silver"></div>
                    </th>
                    <th>
                        <div class="om-medal om-medal--bronze"></div>
                    </th>
                    <th>T</th>
                </tr>
                {% for row in medalTable|slice(6) %}
                <tr>
                    <td style="text-align: left;">
                        {{row.country.name}}
                    </td>
                    <td class="og-snap__greyed-rows">
                        {{row.medals.gold}}
                    </td>
                    <td class="og-snap__greyed-rows">
                        {{row.medals.silver}}
                    </td>
                    <td class="og-snap__greyed-rows">
                        {{row.medals.bronze}}
                    </td>
                    <td>
                        {{row.total}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="og-snap__upcoming">
        <div class="og-snap__title"><span class="og-snap__title--kicker">Day 5</span>What you should follow</div>
        {% for row in snapSpreadsheet|slice(6) %}
        	<div class="og-snap__upcoming-row">{{row.time}}<span class="og-snap__upcoming-row__discipline">{{row.discipline}}</span>{{row.event}}</div>
        {% endfor %}
    </div>
</div>
