<div class="og-snap og-snap--both">
    <div class="og-snap__medals">
        <div class="og-snap__medals-latest">
            <div class="og-snap__title og-snap__title--medals">Latest Medals</div>
            {% for event in latestMedals|slice(2) %}
            <div class="og-snap__medals-latest-title">{{event.discipline}}<span class="og-snap__medals-latest-title--grey">{{event.eventName}}</span></div>
            <div class="og-snap__medal-row">
                {% for medal in event.medals %}
                <div class="og-snap__medal">
                    <div class="om-medal om-medal--{{medal.type}}"></div> {{medal.entrant.country.identifier}}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <a href="#" class="og-snap__link og-snap__link--medals og-snap__link--wide" target="_parent">Full results »</a> 
        </div>
        <div class="og-snap__medals-table">
            <table cellspacing="0" border="0">
                {% for row in medalTable|slice(5) %}
                <tr>
                    <td style="text-align: left;">
                        {{row.country.name}}
                    </td>
                    <td class="og-snap__greyed-rows gold-bg">
                        {{row.medals.gold}}
                    </td>
                    <td class="og-snap__greyed-rows silver-bg">
                        {{row.medals.silver}}
                    </td>
                    <td class="og-snap__greyed-rows bronze-bg">
                        {{row.medals.bronze}}
                    </td>
                    <td>
                        {{row.total}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="#" class="og-snap__link og-snap__link--medals og-snap__link--stacked" target="_parent">Full results »</a> 
    </div>
    <div class="og-snap__upcoming">
        <div class="og-snap__title">Schedule</div>
        <div class="og-snap__timezone">
            All times are in <span class="js-tz">UTC</span>
        </div>
        {% for row in fiveUpcomingEvents %}
        <div class="og-snap__upcoming-row">
            <time class="js-og-time" datetime="{{row.timestamp}}">{{row.time}}</time><span class="og-snap__upcoming-row__discipline">{{row.discipline}}</span>{{row.description}}</div>
        {% endfor %}
        <a href="#" class="og-snap__link" target="_parent">Full schedule »</a>
    </div>
</div>
{% include '_snapTimestampScript.html' {} %}