@import "fonts";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.olym-aggregator {
    &[data-error='http'] {
        background-color: #d61d00;
        color: white;
    }
    &[data-error='stale'] {
        background-color: #d61d00;
        color: white;
    }
}
