@import "fonts";
@import "mq";
@import "flags";

$gold: rgba(250,220,2,1);
$silver: rgba(217,217,217,1);
$bronze: rgba(243,111,33,1);

$goldLight: rgba(250,220,2,0.2);
$silverLight: rgba(217,217,217,0.4);
$bronzeLight: rgba(243,111,33,0.2);

body {
    @include fs-bodyCopy(2);
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.om-container,
.om-header__inner,
.om-filter__inner {
    margin: 0 auto;
    box-sizing: border-box;

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.om-container {
    background-color: white;
}

.om-header {
    @include f-headline;
    margin: 0;
    color: white;

    &.om-header--primary {
        background-color: #387e3c;
    }
    &.om-header--secondary {
        background-color: #5ea45e;
    }
}

.om-header__inner,
.om-filter__inner {
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
    @include mq(leftCol) {
        padding-left: 180px;
    }
    @include mq(wide) {
        padding-left: 260px;
    }
}

.om-header__inner {
    .om-header--primary > & {
        @include fs-headline(7, $size-only: true);
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #3f8840;
    }
    .om-header--secondary > & {
        @include fs-headline(2, $size-only: true);
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: inherit;
        b {
            display: block;
        }
    }
}

.om-filter {
    background-color: #f7e87a;
    line-height: 35px;

    .om-header + & {
        border-top: 1px solid white;
    }
}

.om-filter__inner {
    @include fs-bodyCopy(1);
    background-color: #fded80;
}

.om-filter__choice {
    @include fs-header(1);
    background-color: #f7d603;
    border: 0;
    height: 35px;
    outline: 0;
    margin: 0 5px;
    padding-left: 5px;
    width: 160px;
    cursor: pointer;

    &[disabled] {
        background-color: transparent;
        color: #333;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.om-section {
    position: relative;
    max-width: 660px;
    min-height: 60px;
    margin-bottom: 32px;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 12px 20px;
    }
    @include mq(leftCol) {
        padding-left: 180px;
    }
    @include mq(wide) {
        padding-left: 260px;
    }

    &.om-section--divider {
        border-top: 1px solid #eaeaea;
        &:first-child {
            border-top: 0;
        }
    }
}

.om-section__title {
    @include fs-header(2);
    font-weight: 600;
    margin: 0 0 6px;
    @include mq(leftCol) {
        position: absolute;
        left: 20px;
        width: 140px;
    }
    @include mq(wide) {
        width: 220px;
    }
}

.om-medal {
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #fff;
    margin-right: 4px;
    margin-bottom: -1px;

    &.om-medal--bronze { border-color: $bronze; }
    &.om-medal--silver { border-color: $silver; }
    &.om-medal--gold { border-color: $gold; }
}

.om-schedule-date {
    margin: 0;
    font-size: inherit;

    & > span {
        white-space: nowrap;
    }
}

.om-schedule-date-no {
    @include fs-textSans(3);
    font-weight: normal;
    color: #bdbdbd;
    margin: 0;
}

.om-discipline.is-hidden {
    display: none;
}

.om-discipline__name {
    @include fs-header(2);
    font-weight: 500;
    margin: 0;
}

.om-discipline__venue {
    @include fs-textSans(2);
    margin: 0 0 2px;

    @include mq(mobileLandscape) {
        @include fs-textSans(3, $size-only: true);
    }
}

.om-events {
    list-style: none;
    margin: 0 0 12px;
    padding: 0;
}

.om-event {
    @include fs-textSans(2);
    position: relative;
    border-top: 1px dotted #dcdcdc;
    padding: 3px 20px 3px 65px;

    @include mq(mobileLandscape) {
        @include fs-textSans(3, $size-only: true);
        padding-left: 80px;
    }

    &.om-event--finished.is-expanded {
        background-color: white;
        color: #333;
    }

}
.om-result {
    display: none;
    .is-expanded & {
        display: block;
    }
}

.om-event__time {
    position: absolute;
    width: 58px;
    left: 3px;
}

.om-event__name {
    font-weight: 500;
    margin-right: 20px;
}

.om-event__venue {
    white-space: nowrap;
}

.om-event__expand {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 16px;
    height: 16px;
    background-size: 100% 100%;

    background-image: url(assets/imgs/clock.svg);
    .om-event--finished & {
        background-image: url(assets/imgs/plus.svg);
    }
    .om-event--finished.is-expanded & {
        background-image: url(assets/imgs/minus.svg);
    }
}

.om-event__clicker {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
