.om-flag {
    background-image: url(./assets/imgs/flags.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.om-flag.om-flag--IOA { background: #bdbdbd; }
.om-flag.om-flag--ROT { background: #bdbdbd; }

.om-flag.om-flag--AFG { background-position: 0 -0px }
.om-flag.om-flag--ALB { background-position: 0 -20px }
.om-flag.om-flag--ALG { background-position: 0 -40px }
.om-flag.om-flag--AND { background-position: 0 -60px }
.om-flag.om-flag--ANG { background-position: 0 -80px }
.om-flag.om-flag--ANT { background-position: 0 -100px }
.om-flag.om-flag--ARG { background-position: 0 -120px }
.om-flag.om-flag--ARM { background-position: 0 -140px }
.om-flag.om-flag--ARU { background-position: 0 -160px }
.om-flag.om-flag--ASA { background-position: 0 -180px }
.om-flag.om-flag--AUS { background-position: 0 -200px }
.om-flag.om-flag--AUT { background-position: 0 -220px }
.om-flag.om-flag--AZE { background-position: 0 -240px }
.om-flag.om-flag--BAH { background-position: 0 -260px }
.om-flag.om-flag--BAN { background-position: 0 -280px }
.om-flag.om-flag--BAR { background-position: 0 -300px }
.om-flag.om-flag--BDI { background-position: 0 -320px }
.om-flag.om-flag--BEL { background-position: 0 -340px }
.om-flag.om-flag--BEN { background-position: 0 -360px }
.om-flag.om-flag--BER { background-position: 0 -380px }
.om-flag.om-flag--BHU { background-position: 0 -400px }
.om-flag.om-flag--BIH { background-position: 0 -420px }
.om-flag.om-flag--BIZ { background-position: 0 -440px }
.om-flag.om-flag--BLR { background-position: 0 -460px }
.om-flag.om-flag--BOL { background-position: 0 -480px }
.om-flag.om-flag--BOT { background-position: 0 -500px }
.om-flag.om-flag--BRA { background-position: 0 -520px }
.om-flag.om-flag--BRN { background-position: 0 -540px }
.om-flag.om-flag--BRU { background-position: 0 -560px }
.om-flag.om-flag--BUL { background-position: 0 -580px }
.om-flag.om-flag--BUR { background-position: 0 -600px }
.om-flag.om-flag--CAF { background-position: 0 -620px }
.om-flag.om-flag--CAM { background-position: 0 -640px }
.om-flag.om-flag--CAN { background-position: 0 -660px }
.om-flag.om-flag--CAY { background-position: 0 -680px }
.om-flag.om-flag--CGO { background-position: 0 -700px }
.om-flag.om-flag--CHA { background-position: 0 -720px }
.om-flag.om-flag--CHI { background-position: 0 -740px }
.om-flag.om-flag--CHN { background-position: 0 -760px }
.om-flag.om-flag--CIV { background-position: 0 -780px }
.om-flag.om-flag--CMR { background-position: 0 -800px }
.om-flag.om-flag--COD { background-position: 0 -820px }
.om-flag.om-flag--COK { background-position: 0 -840px }
.om-flag.om-flag--COL { background-position: 0 -860px }
.om-flag.om-flag--COM { background-position: 0 -880px }
.om-flag.om-flag--CPV { background-position: 0 -900px }
.om-flag.om-flag--CRC { background-position: 0 -920px }
.om-flag.om-flag--CRO { background-position: 0 -940px }
.om-flag.om-flag--CUB { background-position: 0 -960px }
.om-flag.om-flag--CYP { background-position: 0 -980px }
.om-flag.om-flag--CZE { background-position: 0 -1000px }
.om-flag.om-flag--DEN { background-position: 0 -1020px }
.om-flag.om-flag--DJI { background-position: 0 -1040px }
.om-flag.om-flag--DMA { background-position: 0 -1060px }
.om-flag.om-flag--DOM { background-position: 0 -1080px }
.om-flag.om-flag--ECU { background-position: 0 -1100px }
.om-flag.om-flag--EGY { background-position: 0 -1120px }
.om-flag.om-flag--ERI { background-position: 0 -1140px }
.om-flag.om-flag--ESA { background-position: 0 -1160px }
.om-flag.om-flag--ESP { background-position: 0 -1180px }
.om-flag.om-flag--EST { background-position: 0 -1200px }
.om-flag.om-flag--ETH { background-position: 0 -1220px }
.om-flag.om-flag--FIJ { background-position: 0 -1240px }
.om-flag.om-flag--FIN { background-position: 0 -1260px }
.om-flag.om-flag--FRA { background-position: 0 -1280px }
.om-flag.om-flag--FSM { background-position: 0 -1300px }
.om-flag.om-flag--GAB { background-position: 0 -1320px }
.om-flag.om-flag--GAM { background-position: 0 -1340px }
.om-flag.om-flag--GBR { background-position: 0 -1360px }
.om-flag.om-flag--GBS { background-position: 0 -1380px }
.om-flag.om-flag--GEO { background-position: 0 -1400px }
.om-flag.om-flag--GEQ { background-position: 0 -1420px }
.om-flag.om-flag--GER { background-position: 0 -1440px }
.om-flag.om-flag--GHA { background-position: 0 -1460px }
.om-flag.om-flag--GRE { background-position: 0 -1480px }
.om-flag.om-flag--GRN { background-position: 0 -1500px }
.om-flag.om-flag--GUA { background-position: 0 -1520px }
.om-flag.om-flag--GUI { background-position: 0 -1540px }
.om-flag.om-flag--GUM { background-position: 0 -1560px }
.om-flag.om-flag--GUY { background-position: 0 -1580px }
.om-flag.om-flag--HAI { background-position: 0 -1600px }
.om-flag.om-flag--HKG { background-position: 0 -1620px }
.om-flag.om-flag--HON { background-position: 0 -1640px }
.om-flag.om-flag--HUN { background-position: 0 -1660px }
.om-flag.om-flag--INA { background-position: 0 -1680px }
.om-flag.om-flag--IND { background-position: 0 -1700px }
.om-flag.om-flag--IRI { background-position: 0 -1720px }
.om-flag.om-flag--IRL { background-position: 0 -1740px }
.om-flag.om-flag--IRQ { background-position: 0 -1760px }
.om-flag.om-flag--ISL { background-position: 0 -1780px }
.om-flag.om-flag--ISR { background-position: 0 -1800px }
.om-flag.om-flag--ISV { background-position: 0 -1820px }
.om-flag.om-flag--ITA { background-position: 0 -1840px }
.om-flag.om-flag--IVB { background-position: 0 -1860px }
.om-flag.om-flag--JAM { background-position: 0 -1880px }
.om-flag.om-flag--JOR { background-position: 0 -1900px }
.om-flag.om-flag--JPN { background-position: 0 -1920px }
.om-flag.om-flag--KAZ { background-position: 0 -1940px }
.om-flag.om-flag--KEN { background-position: 0 -1960px }
.om-flag.om-flag--KGZ { background-position: 0 -1980px }
.om-flag.om-flag--KIR { background-position: 0 -2000px }
.om-flag.om-flag--KOR { background-position: 0 -2020px }
.om-flag.om-flag--KOS { background-position: 0 -2040px }
.om-flag.om-flag--KSA { background-position: 0 -2060px }
.om-flag.om-flag--KUW { background-position: 0 -2080px }
.om-flag.om-flag--LAO { background-position: 0 -2100px }
.om-flag.om-flag--LAT { background-position: 0 -2120px }
.om-flag.om-flag--LBA { background-position: 0 -2140px }
.om-flag.om-flag--LBR { background-position: 0 -2160px }
.om-flag.om-flag--LCA { background-position: 0 -2180px }
.om-flag.om-flag--LES { background-position: 0 -2200px }
.om-flag.om-flag--LIB { background-position: 0 -2220px }
.om-flag.om-flag--LIE { background-position: 0 -2240px }
.om-flag.om-flag--LTU { background-position: 0 -2260px }
.om-flag.om-flag--LUX { background-position: 0 -2280px }
.om-flag.om-flag--MAD { background-position: 0 -2300px }
.om-flag.om-flag--MAR { background-position: 0 -2320px }
.om-flag.om-flag--MAS { background-position: 0 -2340px }
.om-flag.om-flag--MAW { background-position: 0 -2360px }
.om-flag.om-flag--MDA { background-position: 0 -2380px }
.om-flag.om-flag--MDV { background-position: 0 -2400px }
.om-flag.om-flag--MEX { background-position: 0 -2420px }
.om-flag.om-flag--MGL { background-position: 0 -2440px }
.om-flag.om-flag--MHL { background-position: 0 -2460px }
.om-flag.om-flag--MKD { background-position: 0 -2480px }
.om-flag.om-flag--MLI { background-position: 0 -2500px }
.om-flag.om-flag--MLT { background-position: 0 -2520px }
.om-flag.om-flag--MNE { background-position: 0 -2540px }
.om-flag.om-flag--MON { background-position: 0 -2560px }
.om-flag.om-flag--MOZ { background-position: 0 -2580px }
.om-flag.om-flag--MRI { background-position: 0 -2600px }
.om-flag.om-flag--MTN { background-position: 0 -2620px }
.om-flag.om-flag--MYA { background-position: 0 -2640px }
.om-flag.om-flag--NAM { background-position: 0 -2660px }
.om-flag.om-flag--NCA { background-position: 0 -2680px }
.om-flag.om-flag--NED { background-position: 0 -2700px }
.om-flag.om-flag--NEP { background-position: 0 -2720px }
.om-flag.om-flag--NGR { background-position: 0 -2740px }
.om-flag.om-flag--NIG { background-position: 0 -2760px }
.om-flag.om-flag--NOR { background-position: 0 -2780px }
.om-flag.om-flag--NRU { background-position: 0 -2800px }
.om-flag.om-flag--NZL { background-position: 0 -2820px }
.om-flag.om-flag--OMA { background-position: 0 -2840px }
.om-flag.om-flag--PAK { background-position: 0 -2860px }
.om-flag.om-flag--PAN { background-position: 0 -2880px }
.om-flag.om-flag--PAR { background-position: 0 -2900px }
.om-flag.om-flag--PER { background-position: 0 -2920px }
.om-flag.om-flag--PHI { background-position: 0 -2940px }
.om-flag.om-flag--PLE { background-position: 0 -2960px }
.om-flag.om-flag--PLW { background-position: 0 -2980px }
.om-flag.om-flag--PNG { background-position: 0 -3000px }
.om-flag.om-flag--POL { background-position: 0 -3020px }
.om-flag.om-flag--POR { background-position: 0 -3040px }
.om-flag.om-flag--PRK { background-position: 0 -3060px }
.om-flag.om-flag--PUR { background-position: 0 -3080px }
.om-flag.om-flag--QAT { background-position: 0 -3100px }
.om-flag.om-flag--ROU { background-position: 0 -3120px }
.om-flag.om-flag--RSA { background-position: 0 -3140px }
.om-flag.om-flag--RUS { background-position: 0 -3160px }
.om-flag.om-flag--RWA { background-position: 0 -3180px }
.om-flag.om-flag--SAM { background-position: 0 -3200px }
.om-flag.om-flag--SEN { background-position: 0 -3220px }
.om-flag.om-flag--SEY { background-position: 0 -3240px }
.om-flag.om-flag--SIN { background-position: 0 -3260px }
.om-flag.om-flag--SKN { background-position: 0 -3280px }
.om-flag.om-flag--SLE { background-position: 0 -3300px }
.om-flag.om-flag--SLO { background-position: 0 -3320px }
.om-flag.om-flag--SMR { background-position: 0 -3340px }
.om-flag.om-flag--SOL { background-position: 0 -3360px }
.om-flag.om-flag--SOM { background-position: 0 -3380px }
.om-flag.om-flag--SRB { background-position: 0 -3400px }
.om-flag.om-flag--SRI { background-position: 0 -3420px }
.om-flag.om-flag--STP { background-position: 0 -3440px }
.om-flag.om-flag--SUD { background-position: 0 -3460px }
.om-flag.om-flag--SUI { background-position: 0 -3480px }
.om-flag.om-flag--SUR { background-position: 0 -3500px }
.om-flag.om-flag--SVK { background-position: 0 -3520px }
.om-flag.om-flag--SWE { background-position: 0 -3540px }
.om-flag.om-flag--SWZ { background-position: 0 -3560px }
.om-flag.om-flag--SYR { background-position: 0 -3580px }
.om-flag.om-flag--TAN { background-position: 0 -3600px }
.om-flag.om-flag--TGA { background-position: 0 -3620px }
.om-flag.om-flag--THA { background-position: 0 -3640px }
.om-flag.om-flag--TJK { background-position: 0 -3660px }
.om-flag.om-flag--TKM { background-position: 0 -3680px }
.om-flag.om-flag--TLS { background-position: 0 -3700px }
.om-flag.om-flag--TOG { background-position: 0 -3720px }
.om-flag.om-flag--TPE { background-position: 0 -3740px }
.om-flag.om-flag--TTO { background-position: 0 -3760px }
.om-flag.om-flag--TUN { background-position: 0 -3780px }
.om-flag.om-flag--TUR { background-position: 0 -3800px }
.om-flag.om-flag--TUV { background-position: 0 -3820px }
.om-flag.om-flag--UAE { background-position: 0 -3840px }
.om-flag.om-flag--UGA { background-position: 0 -3860px }
.om-flag.om-flag--UKR { background-position: 0 -3880px }
.om-flag.om-flag--URU { background-position: 0 -3900px }
.om-flag.om-flag--USA { background-position: 0 -3920px }
.om-flag.om-flag--UZB { background-position: 0 -3940px }
.om-flag.om-flag--VAN { background-position: 0 -3960px }
.om-flag.om-flag--VAT { background-position: 0 -3980px }
.om-flag.om-flag--VEN { background-position: 0 -4000px }
.om-flag.om-flag--VIE { background-position: 0 -4020px }
.om-flag.om-flag--VIN { background-position: 0 -4040px }
.om-flag.om-flag--YEM { background-position: 0 -4060px }
.om-flag.om-flag--ZAM { background-position: 0 -4080px }
.om-flag.om-flag--ZIM { background-position: 0 -4100px }
