@import "common";
@import "share";

.om-recent-disciplines {
	list-style-type: none;
}

.om-recent-discipline {
	margin-bottom: 24px;
}

.om-recent-events {
	list-style-type: none;
	padding-left: 0;
}

.om-recent-event {

	border-bottom: 1px dotted #ccc;
	padding-top: 4px;
	margin-bottom: 8px;
	width: 100%;
}

.om-recent-el {
	display: inline-block;
	vertical-align: top;
	@include fs-textSans(3);
	width: 33%;
}

.om-recent-eventname {
	margin-top: 4px;
	margin-bottom: 8px;
}

.om-recent-medalists {

	vertical-align: bottom;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.om-recent-medalist{
	display: block;
	float: left;
	width: 30%;
}

.om-recent-button {
	display: block;
	float: right;
	border:none;
	background-image: url(assets/imgs/plus.svg);
	width:12px;
	height:12px;
	background-color:transparent;
	background-size:100% 100%;
	outline:none;
	cursor:pointer;
}

.om-table {
	@include fs-textSans(3);
	list-style-type: none;
    margin: 32px 0 0 0;
    padding: 0;
}

.om-table-row {
	margin: 24px 0;
	position: relative;

	&:before {
		border-top: 1px solid #ccc;
		content: '';
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		z-index: 0;
	}

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

.om-table-el {
	float: left;
	position: relative;
}

.om-table-el--position {
	@include fs-headline(2);
	text-align: right;
	padding-right: 8px;
	width: 40px;
	float: left;
	background-color: white;
}

.om-table-el--flag {
	width: 20px;
	height: 20px;
	border-radius: 40px;
	margin-bottom: -6px;
}

.om-table-el--country {
	@include fs-headline(2);
	width: 48px;
	margin-left: 0;
	margin-right: 0;
}

.om-table-el--medal {
	width: 22%;
	position: relative;
	text-align: center;
}

.om-table-el--total {
	@include fs-headline(2);
	font-weight: bold;
	text-align: right;
	padding: 0 8px;
	float: right;
	background-color: white;
}

.om-table-country-label {
	background-color: white;
	padding: 0 8px;
}

.om-medal-circle{
	width:8px;
	height:8px;
	border-radius:500px;
	display: block;
	position: absolute;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
	z-index: 2;
}

.om-medal-circle--gold {
	background-color: $goldLight;

}

.om-medal-white {
	width:8px;
	height:8px;
	background-color: white;
	z-index: 0;
	display: block;
	position: absolute;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
}

.om-medal-circle--silver {
	background-color: $silverLight;
}

.om-medal-circle--bronze {
	background-color: $bronzeLight;
}

.om-medal-label{
	margin: auto;
	position: relative;

}

.medalist-icon{
	display: inline-block;
	width:8px;
	height:8px;
	border-radius:10px;
	background:#fff;
	border:2px solid #fff;
	margin-right: 4px;
	&.color-bronze{ border-color:$bronze; }
	&.color-silver{ border-color:$silver; }
	&.color-gold{ border-color:$gold; }
}
