@import "common";
@import "flags";

.om-schedule-date {
    margin: 0;
    font-size: inherit;

    & > span {
        white-space: nowrap;
    }
}

.om-schedule-date-no {
    @include fs-textSans(3);
    font-weight: normal;
    color: #bdbdbd;
    margin: 0;
}

.om-discipline.is-hidden {
    display: none;
}

.om-discipline__name {
    @include fs-header(2);
    font-weight: 500;
    margin: 0;
}

.om-discipline__venue {
    @include fs-textSans(2);
    margin: 0 0 2px;

    @include mq(mobileLandscape) {
        @include fs-textSans(3, $size-only: true);
    }
}

.om-events {
    list-style: none;
    margin: 0 0 12px;
    padding: 0;
}

.om-event {
    @include fs-textSans(2);
    position: relative;
    border-top: 1px dotted #dcdcdc;
    padding: 3px 20px 3px 65px;

    @include mq(mobileLandscape) {
        @include fs-textSans(3, $size-only: true);
        padding-left: 80px;
    }
}

.om-event__time {
    position: absolute;
    left: 0;
}

.om-event__name {
    font-weight: 500;
    margin-right: 20px;
}

.om-event__venue {
    white-space: nowrap;
}

.om-event__scheduled {
    position: absolute;
    top: 2px;
    right: 0;
}
