@import "common";

.om-schedule-date {
    margin: 0;
    font-size: inherit;
}

.om-schedule-date-no {
    @include fs-textSans(3);
    font-weight: normal;
    color: #bdbdbd;
    margin: 0;
}

.om-discipline.is-hidden {
    display: none;
}

.om-discipline__name {
    @include fs-header(2);
    font-weight: 500;
    margin: 0;
}

.om-discipline__venue {
    @include fs-textSans(3);
    margin: 0 0 2px;
}

.om-events {
    list-style: none;
    margin: 0 0 12px;
    padding: 0;
}

.om-events__event {
    @include fs-textSans(3);
    position: relative;
    border-top: 1px dotted #dcdcdc;
    padding: 3px 0 3px 120px;

    &.om-events__event--group {
        color: #bdbdbd;
        border-top: 0;
    }
}

.om-events__event__time,
.om-events__event__name,
.om-events__event__venue {
    margin: 0;
}

.om-events__event__time {
    position: absolute;
    left: 0;
}
