<div class="om-section om-section-schedule om-section--divider">
    <div class="om-section__title">
        <h3 class="om-schedule-date">
            <time datetime="{{ schedule.day.date }}">
                {{ schedule.day.date|datefmt('dddd') }} 
                <span>{{ schedule.day.date|datefmt('D MMM') }}</span>
            </time>
        </h3>
        <p class="om-schedule-date-no">
        {{ schedule.day.dateNo | fmtDayOfDays }}
        </p>
    </div>

    <div class="om-empty-message">No events in this sport today.</div>

    <p class="om-tz-note">All times are in <span class="js-tz">UTC</span></p>

    {% for discipline in schedule.disciplines %}
        <div class="om-discipline js-discipline" data-discipline="{{ discipline.identifier }}" >
            <h4 class="om-discipline__name">{{ discipline.description }}</h4>
            {% if discipline.venues.length === 1 %}
                <p class="om-discipline__venue">{{ discipline.venues[0].name }}</p>
            {% else %}
                <p class="om-discipline__venue">Multiple venues</p>
            {% endif %}
            <ul class="om-events">
                {% for event in discipline.events %}
                    <li class="om-event {% if event.status === 'Finished' %}om-event--finished{% endif %}
                               {% if event.status === 'Finished' %} om-event--results{% endif %}
                               {% if event.status === 'Postponed' %} om-event--postponed{% endif %}">
                        <div class="om-event__time">
                            <time class="js-time {% if !event.start|dateeq(schedule.day.date, 'day') %}is-next-day{% endif %}"
                                  datetime="{{ event.start }}">{{ event.start|datefmt('HH:mm') }}</time>
                        </div>
                        <span class="om-event__name">
                            {{ event.description }}
                            {% if event.group.length > 1 %}
                                <span class="om-event__name__events">({{ event.group.length }} events)</span>
                            {% endif %}
                        </span>

                        {%if event.medalEvent %}
                            <span class ="om-medal-event-icon">
                                <div class="om-medal om-medal--gold"></div>
                                <div class="om-medal om-medal--silver"></div>
                                <div class="om-medal om-medal--bronze"></div>
                            </span>
                        {% endif %}

                        {% if event.status === 'Finished' %}
                            {% set cumulativeResult = event.event.identifier|getCumulative(cumulativeResults) %}
                            {% if cumulativeResult %}
                                <div class="om-event__result om-event__result--grey">
                                    <div class="om-event__sub-name">Cumulative result:</div>
                                    {% include '../_result.html' {'result': cumulativeResult} %}
                                </div>
                            {% endif %}
                            {% if event.phaseOnlyResult %}
                                <div class="om-event__result">
                                    {% if event.phaseUnitCount > 1 %}
                                        <div class="om-event__sub-name">
                                            All results for {{ event.phase.value }}:
                                        </div>
                                    {% endif %}
                                    {% if event.resultAvailable %}
                                        <div class="js-result" data-unit-id="{{ event.unit.identifier }}"></div>
                                    {% elif !cumulativeResult %}
                                        <div>Results still to come</div>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% for subEvent in event.group  %}
                                    <div class="om-event__result">
                                        <div class="om-event__sub-name">
                                            {% if event.group.length > 1 %}
                                                {{ subEvent.description }}
                                            {% elif cumulativeResult && subEvent.resultAvailable %}
                                                Event result:
                                            {% endif %}
                                        </div>
                                        {% if subEvent.resultAvailable %}
                                            <div class="js-result" data-unit-id="{{ subEvent.unit.identifier }}"></div>
                                        {% elif !cumulativeResult  %}
                                            <div>Results still to come</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="om-event__clicker js-expand-results"></div>
                        {% endif %}
                        <div class="om-event__expand"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class='om-no-events is-hidden'>
        No events in this discipline today.
    </div>
</div>
