<div class="om-filter">
    <div class="om-filter__inner">
        <span class="om-filter__line">
            {{ eventsType }} in
            <select class="om-filter__choice js-discipline-choice" disabled>
                <option value="">All sports</option>
                {% for discipline in disciplines %}
                    <option value="{{ discipline.identifier }}">{{ discipline.description }}</option>
                {% endfor %}
            </select>
        </span>
        <span class="om-filter__line" {% if eventsByDay.length === 0 %}style="display: none"{% endif %}>
            on
            <select class="om-filter__choice js-date-choice" disabled>
                {% for eventDay in eventsByDay %}
                    {% set date = eventDay.day.date %}
                    <option value="{{ date }}" {% if date == today %}selected{% endif %}>
                    {{ date|dayfmt('ddd D', loop.index) }}
                    </option>
                {% endfor %}
            </select>
        </span>
    </div>
</div>
<div class="om-container">
    <div class="om-date-schedule js-date-schedule" data-startdate="{{ eventsToday.day.date }}">

        {% if eventsToday %}
            {% include './days/schedule.html' {'schedule': eventsToday} %}
        {% else %}
            <div class="om-section om-no-results">
                No results yet.
            </div>
        {% endif %}
    </div>
    <div class="om-section om-error js-error">
        <h3 class="om-section__title">Error</h3>
        Failed to load events, check your internet connection.
    </div>
</div>
