<li class='om-table-row {% if entry.position > 10 && entry.total > 0 %}om-table-row--extra{% endif %}
          {% if entry.total == 0 %}om-table-row--empty js-row-empty{% endif %}'
    data-id='{{entry.country.identifier}}' data-position='{{ entry.position }}'>

    <div class='om-table-left-area'>
        <span class='om-table-row__position'>
        {% if entry.position !== -1 %}
            {{ entry.position }}.
        {% endif %}
        </span>
        <span class='om-table-row__flag om-flag om-flag--{{ entry.country.identifier }}'></span>
        <span class='om-table-row__country'>{{ entry.country.identifier }}</span>
    </div>
    <div class='om-table-row__medal om-table-row-medal__first'>
        <div class="om-medal-white" style="{{ entry.medals.gold|maskScale|transformStr }}, "></div>
        <div class="om-medal-circle om-medal-circle--gold"
            style="{{ entry.medals.gold|circleScale|transformStr }}"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.gold }}">
            {{ entry.medals.gold }}
        </span>
    </div>
    <div class='om-table-row__medal'>
        <div class="om-medal-white" style="{{ entry.medals.silver|maskScale|transformStr }}"></div>
        <div class="om-medal-circle om-medal-circle--silver"
            style="{{ entry.medals.silver|circleScale|transformStr }}"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.silver }}">
            {{ entry.medals.silver }}
        </span>
    </div>
    <div class='om-table-row__medal'>
        <div class="om-medal-white" style="{{ entry.medals.bronze|maskScale|transformStr }}"></div>
        <div class="om-medal-circle om-medal-circle--bronze"
            style="{{ entry.medals.bronze|circleScale|transformStr }}"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.bronze }}">
            {{ entry.medals.bronze }}
        </span>
    </div>
    <div class='om-table-row__total'>{{ entry.total }}</div>
</li>
