<li class='om-table-row {%if entry.position > 10 %} om-table-row--hidden {% endif %}'
data-position='{{entry.position}}' data-id='{{entry.countryCode}}'>
    <div class='om-table-el om-table-el--position'>
        {{ entry.position }}.
    </div>
    <div class='om-table-el om-table-el--flag om-flag om-flag--{{ entry.countryCode }}'>
    </div>
    <div class='om-table-el om-table-el--country'>
        <span class='om-table-country-label'>{{ entry.countryCode }}</span>
    </div>
    <div class='om-table-el om-table-el--medal'>
        <div class="om-medal-white" style="transform:scale({{ entry.medals.gold|maskScale }})"></div>
        <div class="om-medal-circle om-medal-circle--gold"
            style="transform:scale({{ entry.medals.gold|circleScale }})"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.gold }}">
            {{ entry.medals.gold }}
        </span>
    </div>
    <div class='om-table-el om-table-el--medal'>
        <div class="om-medal-white" style="transform:scale({{ entry.medals.silver|maskScale }})"></div>
        <div class="om-medal-circle om-medal-circle--silver"
            style="transform:scale({{ entry.medals.silver|circleScale }})"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.silver }}">
            {{ entry.medals.silver }}
        </span>
    </div>
    <div class='om-table-el om-table-el--medal'>
        <div class="om-medal-white" style="transform:scale({{ entry.medals.bronze|maskScale }})"></div>
        <div class="om-medal-circle om-medal-circle--bronze"
            style="transform:scale({{ entry.medals.bronze|circleScale }})"></div>
        <span class="om-medal-label" data-count="{{ entry.medals.bronze }}">
            {{ entry.medals.bronze }}
        </span>
    </div>
    <div class='om-table-el om-table-el--total'>
        {{ entry.total }}
    </div>
</li>
