<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>{{ css|raw }}</style>
</head>
<body>
    <h1 class="om-header om-header--primary">
        <div class="om-header__inner">Medals and results</div>
    </h1>
    <h2 class="om-header om-header--secondary">
        <div class="om-header__inner">
            Rio 2016 Olympics day-by-day events to watch
            <b>Medal count</b>
        </div>
    </h2>

    <section class="om-filter">
        <div class="om-filter__inner">
            How is 
            <select class='om-select-country om-filter__choice'>
                {% for c in countries %}
                    <option value='{{ c.identifier }}'>{{ c.name }}</option>
                {% endfor %}
            </select>
            doing?
        </div>
        </section>

    <div class="om-container om-country-container">

        <section class='om-section'>

            <div class='om-country'>
                {% include './medals/countries/countryMedals.html' { 'medals' : recentMedalsByCountry['GBR'], 'entry' : fullTable[2] }  %}
            </div>

        </section>

        <section class="om-section">
            <h3 class="om-section__title">Leaderboard</h3>
            <ol class='om-table'>
            {% for entry in medalTable %}
                {% include '_leaderboardEntry.html' { entry } %}
            {% endfor %}
            </ol>
            <button class="js-leaderboard-button om-expand-button">All countries</button>
        </section>
    </div>

    {% include './_events.html' %}

    <script src="./medals.js"></script>
</body>
</html>
