<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>{{ css|raw }}</style>
</head>
<body>
    <h1 class="om-header om-header--primary">
        <div class="om-header__inner">Medals and results</div>
    </h1>
    <h2 class="om-header om-header--secondary">
        <div class="om-header__inner">
            Rio 2016 Olympics day-by-day events to watch
            <b>Medal count</b>
        </div>
    </h2>

    <section class="om-filter">
        <div class="om-filter__inner">
            How is 
            <select class='om-select-country om-filter__choice'>
                {% for c in countries %}
                    <option value='{{ c.identifier }}'>{{ c.name }}</option>
                {% endfor %}
            </select>
            doing?
        </div>
        </section>

    <div class="om-container om-country-container">

        <section class='om-section'>
            <ol class='om-table om-table--favourite'>
                {% include 'leaderboardEntry.html' { 'entry' : favourite } %}
            </ol>

            <div class='om-country'>
                {% include './medals/countries/countryMedals.html' { 'country' : recentMedalsByCountry[0] }  %}
            </div>

        </section>

        <section class="om-section">
            <h3 class="om-section__title">Leaderboard</h3>
            <ol class='om-table'>
            {% for entry in medalTable.table %}
                    {% include 'leaderboardEntry.html' { entry } %}
            {% endfor %}
            </ol>
            <button class="js-leaderboard-button om-expand-button">All countries</button>
        </section>
    </div>
    {% if recentMedalsByDay.length > 0 %}
        <section class="om-filter">
            <div class="om-filter__inner">
                I'd like to see medals and results for
                <select class='om-select-discipline om-filter__choice'>
                    <option value='' selected>All sports</option>
                    {% for d in disciplines %}
                        <option value='{{ d.identifier }}'>{{ d.description }}</option>
                    {% endfor %}
                </select>
            </div>
        </section>
        <div class="om-container om-recent">
            <div class='om-recent-days'>
                {% include './medals/days/dayMedals.html' { 'dayDisciplines': recentMedalsByDay[0].disciplines, 'day' : recentMedalsByDay[0].day } %}
                <button class="js-recent-button om-expand-button">Results from previous days</button>
            </div>
        </div>
    {% endif %}
    <script src="./medals.js"></script>
</body>
</html>
