<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>{{ css|raw }}</style>
</head>
<body>
    <h1 class="om-header om-header--primary">
        <div class="om-header__inner">Medals and results</div>
    </h1>
    <h2 class="om-header om-header--secondary">
        <div class="om-header__inner">
            Rio 2016 Olympics day-by-day events to watch
            <b>Medal count</b>
        </div>
    </h2>
    <div class="om-container">
        <section class="om-section">
            <h3 class="om-section__title">Leaderboard</h3>
            <ol class='om-table'>
            {% for entry in medalTable.table %}
                    <li class='om-table-row'>
                        <div class='om-table-el om-table-el--position'>
                            {{ entry.position }}.
                        </div>
                        <div class='om-table-el om-table-el--flag om-flag om-flag--{{ entry.countryCode }}'>
                        </div>
                        <div class='om-table-el om-table-el--country'>
                            <span class='om-table-country-label'>{{ entry.countryCode }}</span>
                        </div>
                        <div class='om-table-el om-table-el--medal'>

                        <div class="om-medal-white"
                        style="transform:scale({{entry.maskSizes.gold + 1}})">
                        </div>
                            <div class="om-medal-circle om-medal-circle--gold" style="transform:scale({{entry.circleSizes.gold}})">
                            </div>
                            <span class="om-medal-label" data-count="{{ entry.gold }}">
                                {{ entry.gold }}
                            </span>
                        </div>
                        <div class='om-table-el om-table-el--medal'>
                            <div class="om-medal-white"
                            style="transform:scale({{entry.maskSizes.silver + 1}})">
                            </div>
                            <div class="om-medal-circle om-medal-circle--silver" style="transform:scale({{entry.circleSizes.silver}})">
                            </div>
                            <span class="om-medal-label" data-count="{{ entry.silver }}">
                                {{ entry.silver }}
                            </span>
                        </div>
                        <div class='om-table-el om-table-el--medal'>
                            <div class="om-medal-white"
                            style="transform:scale({{entry.maskSizes.bronze + 1}})">
                            </div>
                            <div class="om-medal-circle om-medal-circle--bronze" style="transform:scale({{entry.circleSizes.bronze}})">
                            </div>
                            <span class="om-medal-label" data-count="{{ entry.bronze }}">
                                {{ entry.bronze }}
                            </span>
                        </div>
                        <div class='om-table-el om-table-el--total'>
                            {{ entry.gold + entry.silver + entry.bronze }}
                        </div>
                    </li>
            {% endfor %}
            </ol>
            <button class="om-expand-button">All countries</button>
        </section>
    </div>
    <section class="om-filter">
        <div class="om-filter__inner">
            Who's winning? I'd like to see medals in
            <select class='om-select-discipline om-filter__choice'>
                <option value='all' selected>All sports</option>
                {% for d in disciplines %}
                    <option value='{{ d.identifier }}'>{{ d.description }}</option>
                {% endfor %}
            </select>
            <select class='om-select-country om-filter__choice'>
                <option value='all' selected>All countries</option>
                {% for c in countries %}
                    <option value='{{ c.identifier }}'>{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
    </section>
    <div class="om-container">
        <section class="om-section">
            <div class="om-section__title">
                <h3 class='om-medaltable-row'>Last 24 hours</h3>
                <h4>Tuesday, 16 Aug, Day 5 of 17</h4>
            </div>
            <ul class='om-recent-disciplines'>
                {% for discipline in recentMedalsAll %}
                    <li class='om-recent-discipline'>
                        <h3 class='om-recent-discipline'>
                            {{ discipline[0] }}
                        </h3>
                        <ul class='om-recent-events'>
                            {% for event in discipline['1'] %}
                                <li class='om-recent-event'>
                                    <h4 class='om-recent-eventname'> {{ event[0] }} </h4>
                                    <div class='om-recent-medalists'>
                                        {% for medal in event['1'] %}
                                            <div class="om-recent-medalist medal-{{medal.medal}} om-recent-el">
                                                <span class="medalist-icon color-{{medal.type.toLowerCase()}}"></span>

                                                {% if medal.competitor.athlete %}
                                                    <span class="medalist-name">{{medal.competitor.athlete}}</span>
                                                    <span class="medalist-country">({{medal.competitor.countryCode}})</span>
                                                {% else %}
                                                    <span class="medalist-name">{{medal.competitor.country}}</span>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <button class='om-recent-button'></button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <script src="./medals.js"></script>
</body>
</html>
