<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>{{ css|raw }}</style>
</head>
<body>

    <div class="om-header om-header--primary">
        <div class="om-header__inner  om-header__background">
            <a href="https://www.theguardian.com/sport/rio-2016">
                <div class="om-header__logo"></div>
            </a>
            <h1>Schedule</h1>
            <h2>Rio 2016 Olympics day-by-day events to watch</h2>
        </div>
    </div>


    {% include './_events.html' {'eventsToday': scheduleToday} %}

    <script>var isMedalTable = false;</script>
    <script src="./schedule.js"></script>
</body>
</html>
